.navbar {
  background: #526d82;
}

.navbar-brand {
  color: #dde6ed;
}

.navbar-brand:hover {
  color: #dde6ed;
}

body {
  background: #27374d;
  /*font-family: Cambria, Georgia, serif;*/
}

.myDropdown {
  background: #27374d;
  color: #dde6ed;
}

.myDropdown:hover {
  background: #9db2bf;
  color: #fff;
  border: none;
  color: #353535;
}

.body-content {
  color: #dde6ed !important;
}

.summary {
  background: #2d3f58;
  border-radius: 10px;
  height: 82vh;
  position: -webkit-sticky;
  position: sticky;
  top: 115px;
  overflow-y: auto;
}

.summary-navigation {
  font-size: 12px;
}

.content {
  background: #283950;
  border-radius: 10px;
  overflow-y: hidden;
}

.about {
  background: #2d3f58;
  border-radius: 10px;
  text-align: justify;
  color: #dde6ed;
}

.about img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  min-width: 120px;
  max-width: 200px;
}

.about .info {
  font-size: 14px;
}

a {
  color: #dde6ed;
  text-decoration: none;
  font-weight: bold;
}

.sub-header {
  color: #9db2bf;
}

.entry {
  text-align: justify;
}

.documentation-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.btn-prev,
.btn-next {
  background-color: #27374d;
  color: #dde6ed;
}

.btn-prev:hover,
.btn-next:hover {
  background-color: #dde6ed;
  color: #27374d;
}
.btn-disabled {
  background-color: rgba(187, 187, 187, 0.146) !important;
  color: #9db2bf;
  cursor: not-allowed;
  border: none;
}
.lastPost {
  color: #9db2bf;
}
@media screen and (min-width: 768px) {
  .about {
    height: 80vh;
    position: -webkit-sticky;
    position: sticky;
    top: 115px;
    overflow-y: auto;
  }
}

@media screen and (max-width: 768px) {
  .about {
    width: 100%;
  }
}
